@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
button,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  position: relative;
  z-index: -4;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 200px) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.button {
  width: 151px;
  height: 46px;
  border-radius: 24px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.button-primary-light {
  color: white;
  border: 2px solid white;
}

.button-primary-dark {
  color: #012F34;
  border: 2px solid #012F34;
}

.button-primary-light:hover {
  background-color: white;
  color: #012F34;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.button-primary-dark:hover {
  color: white;
  background-color: #012F34;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body {
  color: #002529;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
}

.big-font-body {
  font-size: 18px;
  line-height: 28px;
}

.little-body {
  font-size: 15px;
  line-height: 25px;
}

.big-header {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.medium-header {
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

button {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  font-family: "Livvic";
}

.white {
  color: white;
}

.light-coral {
  color: #F67E7E;
}

.rapture-blue {
  color: #79C8C7;
}

@media screen and (max-width: 1200px) {
  .big-font-body {
    font-size: 15px;
    line-height: 28px;
  }
  .big-header {
    font-size: 64px;
    line-height: 56px;
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (max-width: 768px) {
  .big-header {
    font-size: 40px;
    line-height: 40px;
  }
}

.main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  width: 100%;
  height: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #014E56;
}

nav {
  height: 100%;
  width: 100%;
  max-width: 1110px;
  padding-top: 73px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav > img {
  width: 160px;
  height: 40px;
}

.nav-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 80px;
}

.nav-links li:nth-child(2) {
  margin-left: 40px;
}

.nav-links li:last-child {
  margin-left: auto;
}

.nav-link {
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.nav-link:hover {
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  color: #F67E7E;
}

.mobile-nav-block {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 0px;
  right: 0px;
  width: 0%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 100vh;
  display: none;
}

@media screen and (max-width: 1200px) {
  nav {
    max-width: unset;
    padding: 0px 40px;
  }
  .nav-links {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 80px;
  }
  nav {
    width: 100%;
    padding: 48px 0px 0px 0px;
  }
  nav > img {
    width: 128px;
    height: 32px;
    margin-left: 40px;
  }
  .nav-links {
    display: none;
  }
  .menu-btn {
    position: relative;
    z-index: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-right: 40px;
  }
  .menu-btn__burger {
    width: 20px;
    height: 3px;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .menu-btn__burger::after {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  /* ANIMATION BURGER */
  .menu-btn.open .menu-btn__burger {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    -webkit-transform: rotate(45deg) translate(-35px, 35px);
            transform: rotate(45deg) translate(-35px, 35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    -webkit-transform: rotate(-45deg) translate(-35px, -35px);
            transform: rotate(-45deg) translate(-35px, -35px);
  }
  .mobile-nav-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    overflow-x: hidden;
    z-index: 3;
  }
  .mobile-nav-block.active {
    opacity: 1;
    pointer-events: all;
    z-index: 4;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    overflow-x: hidden;
  }
  .nav-links-mobile {
    background-color: #2C6269;
    height: 100%;
    width: 40%;
    padding: 112px 0px 0px 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .nav-links-mobile.active {
    width: 65%;
    padding: 112px 0px 0px 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .mobile-nav-link {
    width: 0px;
    -webkit-transition: width 0.3s cubic-bezier(0.79, 0.16, 0.79, 0.16);
    transition: width 0.3s cubic-bezier(0.79, 0.16, 0.79, 0.16);
  }
  .mobile-nav-link.active {
    width: 151px;
    -webkit-transition: width 0.3s cubic-bezier(0.15, 0.85, 0.16, 0.83);
    transition: width 0.3s cubic-bezier(0.15, 0.85, 0.16, 0.83);
  }
  .mobile-nav-link-item:nth-child(2) {
    margin: 36px 0px 24px 0px;
    -webkit-transition: margin 0.3s ease-in-out;
    transition: margin 0.3s ease-in-out;
  }
  .mobile-nav-block::after {
    content: "";
    position: absolute;
    top: unset;
    right: -200px;
    bottom: 0px;
    left: unset;
    background-image: url(/images/bg-pattern-about-1-mobile-nav-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .mobile-nav-block.active::after {
    right: -100px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #014E56;
}

.hero-home {
  width: 100%;
  height: 579px;
  padding-top: 136px;
  position: relative;
}

.hero-home::before {
  content: '';
  position: absolute;
  top: 153px;
  right: unset;
  bottom: unset;
  left: -100px;
  background-image: url(/images/bg-pattern-home-1.svg);
  width: 200px;
  height: 200px;
  z-index: 0;
}

.hero-desc::after {
  content: '';
  position: absolute;
  top: unset;
  right: 0px;
  bottom: -243px;
  left: unset;
  background-image: url(/images/bg-pattern-home-2.svg);
  width: 358px;
  height: 100px;
  background-repeat: no-repeat;
}

.hero-home > .hero-wrap-outer {
  width: 1110px;
  height: 200px;
}

.hero-wrap-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.hero-wrap-outer > h1 {
  width: 620px;
  height: 200px;
}

.hero-desc {
  position: relative;
  width: 445px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero-desc::before {
  content: '';
  position: absolute;
  top: 0px;
  right: unset;
  bottom: unset;
  left: 0px;
  background-color: #79C8C7;
  width: 50px;
  height: 4px;
}

@media screen and (max-width: 1200px) {
  .hero-home {
    height: 588px;
    padding-top: 112px;
  }
  .hero-home::before {
    display: none;
  }
  .hero-desc::after {
    position: absolute;
    top: unset;
    right: 0px;
    bottom: -232px;
    left: unset;
  }
  .hero-home > .hero-wrap-outer {
    width: 92%;
    height: 244px;
  }
  .hero-wrap-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-wrap-outer > h1 {
    width: 339px;
    height: 112px;
    text-align: center;
  }
  .hero-desc {
    width: 339px;
    height: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hero-desc > p {
    text-align: center;
  }
  .hero-desc::before {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero-home {
    height: 487px;
    padding-top: 80px;
    overflow-x: hidden;
  }
  .hero-desc::after {
    position: absolute;
    top: unset;
    right: 0px;
    bottom: -197px;
    left: unset;
  }
  .hero-home > .hero-wrap-outer {
    width: 96%;
    height: 210px;
  }
  .hero-wrap-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-wrap-outer > h1 {
    width: 339px;
    height: 80px;
    text-align: center;
  }
  .hero-desc {
    width: 339px;
    height: 112px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hero-desc > p {
    text-align: center;
  }
  .hero-desc::before {
    display: none;
  }
}

.manage-team-section {
  width: 100%;
  height: 684px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #012F34;
  overflow-x: hidden;
  position: relative;
}

.manage-team-section::after {
  content: '';
  position: absolute;
  top: unset;
  right: -100px;
  bottom: 0px;
  left: unset;
  background-image: url(/images/bg-pattern-home-3.svg);
  width: 200px;
  height: 244px;
  z-index: 0;
}

.outer-manage {
  width: 1100px;
  height: 404px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.outer-manage::before {
  content: '';
  position: absolute;
  top: 0px;
  right: unset;
  bottom: unset;
  left: 0px;
  background: #F67E7E;
  width: 50px;
  height: 4px;
}

.manage-title {
  height: 100%;
  width: 445px;
}

.manage-title > h2 {
  margin-top: 54px;
}

.manage-cards {
  height: 100%;
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
}

.manage-card {
  width: 100%;
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manage-card-picture {
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: cover;
}

.manage-card:first-child .manage-card-picture {
  background-image: url(/images/icon-person.svg);
}

.manage-card:nth-child(2) .manage-card-picture {
  background-image: url(/images/icon-cog.svg);
}

.manage-card:last-child .manage-card-picture {
  background-image: url(/images/icon-chart.svg);
}

.manage-card-desc {
  width: 445px;
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  .manage-team-section {
    height: 710px;
  }
  .manage-team-section::after {
    position: absolute;
    top: 0px;
    right: -100px;
    bottom: unset;
    left: unset;
  }
  .outer-manage {
    width: 573px;
    height: 510px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .manage-title {
    height: 64px;
    width: 445px;
  }
  .manage-title > h2 {
    margin-top: 32px;
  }
  .manage-cards {
    height: 346px;
    width: 100%;
  }
  .manage-card {
    width: 100%;
    height: 94px;
  }
  .manage-card-desc {
    width: 478px;
  }
}

@media screen and (max-width: 768px) {
  .manage-team-section {
    height: 1073px;
  }
  .outer-manage {
    width: 327px;
    height: 941px;
  }
  .manage-title {
    height: 160px;
    width: 240px;
  }
  .manage-title > h2 {
    margin-top: 32px;
  }
  .manage-cards {
    height: 693px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .manage-card {
    height: 199px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .manage-card-desc {
    width: 100%;
    height: 111px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
  }
  .manage-card-desc > p {
    width: 100%;
  }
}

.sucess-stories-section {
  width: 100%;
  height: 745px;
  background-color: #014E56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.sucess-stories-section::before {
  content: '';
  position: absolute;
  top: 0px;
  right: unset;
  bottom: unset;
  left: 0px;
  width: 147px;
  height: 100px;
  background-image: url(/images/bg-pattern-home-4-about-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sucess-stories-section::after {
  content: '';
  position: absolute;
  top: unset;
  right: 0px;
  bottom: 0px;
  left: unset;
  width: 200px;
  height: 100px;
  background-image: url(/images/bg-pattern-home-5.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sucess-stories-outer {
  width: 1110px;
  height: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sucess-stories-title {
  text-align: center;
  width: 932px;
  height: 96px;
}

.sucess-stories {
  width: 100%;
  height: 313px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sucess-storie {
  width: 350px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  text-align: center;
}

.sucess-storie::before {
  content: '';
  position: absolute;
  top: 0px;
  right: unset;
  bottom: unset;
  left: unset;
  z-index: 0;
  background-image: url(/images/icon-quotes.svg);
  width: 67px;
  height: 56px;
}

.sucess-storie p:first-child {
  position: relative;
  z-index: 1;
  height: 100px;
  margin-top: 36px;
  background: transparent;
}

.sucess-storie p:nth-child(2) {
  margin-top: 24px;
  height: 28px;
}

.sucess-storie p:nth-child(3) {
  height: 18px;
}

.sucess-storie img:last-child {
  width: 62px;
  height: 62px;
  border: 2px solid #C4FFFE;
  border-radius: 50%;
  margin-top: 32px;
}

@media screen and (max-width: 1200px) {
  .sucess-stories-section {
    height: 1199px;
  }
  .sucess-stories-outer {
    width: 573px;
    height: 999px;
  }
  .sucess-stories-title {
    width: 100%;
  }
  .sucess-stories {
    height: 855px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sucess-storie {
    width: 100%;
    height: 253px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sucess-storie p:first-child {
    width: 100%;
    height: 75px;
  }
  .sucess-storie p:nth-child(2) {
    margin-top: 16px;
  }
  .sucess-storie img:last-child {
    border: 2px solid #C4FFFE;
    border-radius: 50%;
    margin-top: 16px;
  }
}
/*# sourceMappingURL=style.css.map */